
html {
    height: 100%;
}
body {
    background-image: linear-gradient(90deg, red,yellow);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    min-height: 250px;
    width: 33%;
    background-position: bottom;/* show image from bottom, before this leg of lady in pic was getting hidden */
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    min-height: 250px;
    width: 33%;
    background-position: bottom;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    min-height: 250px;
    width: 33%;
    background-position: bottom;
}

.mainbox1{
    flex:2
}
.mainbox2{
    flex:1
}

p {
    line-height: 1.75rem;
    margin: 1.5rem;
}
h1{
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
h2{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;

}

i {
    font-size: 100px;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.card1,.card2,.card3{
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

.mybtn {
    background-color: white;
    color:coral;
    padding: 11px 25px;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

a{
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 100px;
    text-decoration: none;
}