
html {
    height: 100%;
}
body {
    background-image: linear-gradient(90deg, red,yellow);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    min-height: 300px;
    width: 33%;
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    min-height: 300px;
    width: 33%;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    min-height: 300px;
    width: 33%;
}

.mainbox1{
    flex:2
}
.mainbox2{
    flex:1
}

p {
    line-height: 1.75rem;
    margin: 1.5rem;
}

i {
    font-size: 100px;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px 30px 20px 30px;
}