.container {
    background-color: rgb(190, 135, 135);
    min-height: 600px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 .hide-desktop-only{
    display: none;
}
.col {
    background-color: aqua;
    min-height: 200px;
    width: 30%;
    margin-bottom: 30px;
}

/* tablet view */
@media(max-width: 768px){
   .col {
     width: 45%;
   }

.hide-desktop-only{
    display: block;
 }
}

