
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header { 
    height: 118px;
    text-align: center;

}

nav {
    background-color: rgb(0, 0, 0,0.338);
    height: 40px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
  
}


footer {
    background-color: yellowgreen;
    height: 100px;
   
}

body {
    background-color: #2f3035;
    background-image: url(/images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

nav a {
    text-decoration: none; /* added to remove underline from <a> tag content */
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}