
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header { 
    background-color: blueviolet;
    height: 118px;
    text-align: center;

}

nav {
    background-color: red;
    height: 40px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
  
}


footer {
    background-color: yellowgreen;
    height: 100px;
   
}

body {
    background-color: #2f3035
}
h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

